.background {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
  isolation: isolate;
}

@media (max-width: 767px) {
  .background {
    display: none;
  }
}
